# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.sublime-*
.DS_Store

# Datos brutos (muy grandes, no subir)
data/raw/incendios_miteco/*.xlsx
data/raw/incendios_miteco/*.xls
data/raw/limites_provinciales/*.shp
data/raw/limites_provinciales/*.dbf
data/raw/topografia/*.tif
data/raw/meteorologia/

# Environment
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Testing
.pytest_cache/
.coverage

# OS
Thumbs.db
