# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.sublime-*
.DS_Store

# Datos brutos (muy grandes, no subir a GitHub)
data/raw/incendios_miteco/*.xlsx
data/raw/incendios_miteco/*.xls
data/raw/incendios_miteco/*.ttl
data/raw/incendios_miteco/*.csv
data/raw/limites_provinciales/
data/raw/topografia/
data/raw/meteorologia/

# Environment
.env

# Jupyter checkpoints (pero sí subir los .ipynb)
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage

# OS
Thumbs.db
